
@media all and (max-width: 1000px) {
	#headerInfo {
	height: 100%;
}
}

body {
  background: #000;
  color: white;
}

#header {
	width: 100%;
	background: #000;
	margin: 0 auto;
  padding-bottom: 30px;
}
#header .navbar-default {
  background-color: transparent;
}

.poster {
  margin-bottom: 50px;
}

#gallery {
  margin-bottom: 50px;

  .row {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
  }
  p {
    margin: 10px 0;
  }
}

.modal {
  width: 60%;
}

.group1 {
  width: 100%;
}
.navbar-fixed-bottom .fb-like {
  margin-top: 10px;
}
.container iframe {
  margin: 0 auto;
  margin-bottom: 100px;
}
#header {
  margin-bottom: 0;
  padding-bottom: 0;
  .navbar-inverse {
    margin-bottom: 0;
  }
}
.titleInfo {
  text-align: center;
  margin-bottom: 50px;
  h3 {
    margin-top: 30px;
  }
}
#synopsisPage {
  .bodyWrapper {
    background: url("../img/sarah02.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1125px;
    color: #bb0000;
    @media all and (max-width: 1200px) {
      height: 800px;
    }
    @media all and (max-width: 900px) {
      height: 600px;
    }
    @media all and (max-width: 700px) {
      height: 400px;
    }
    @media all and (max-width: 500px) {
      height: inherit;
    }
    .container {
      margin-left: 150px;
      width: 500px;
      @media all and (max-width: 700px) {
        width: 90%;
        margin-left: 0;
      }
    }
  }
}

